.result .wrapper {
  margin-left: 10px;
}

.result ol {
  /* padding: 0; */
  padding-inline-start: 30px;
}

.result .link {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result ol {
    padding: 0;
  }

  .result .link-item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .result .link {
    font-size: 0.7rem;
  }
}
